In [1]:
# IMPORT GENERIC PACKAGES
import numpy as np # numerical calc package
import pandas as pd # holds data
import matplotlib.pyplot as plt # plotting library
import seaborn as sns # pretty plotting
import pandas_profiling as pp
import datetime

In [3]:
sns.set(style='white', rc={'figure.figsize':(20,10)})

from sklearn.linear_model import LinearRegression # linear regression package
from sklearn.model_selection import train_test_split # split dataset
from sklearn.metrics import mean_squared_error as mse # Measurement metric

from sklearn.preprocessing import StandardScaler

In [4]:
import os
cwd = os.getcwd()
print(cwd)
os.chdir('C:/Users/mox.ballo/OneDrive/FTW/Lectures/week5/exercise/FTW3-Day5')

data = pd.read_csv('nyc-rolling-sales.csv', index_col=0)

C:\Users\mox.ballo\OneDrive\FTW\Lectures\week5\exercise\FTW3-Day5

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84548 entries, 4 to 8413
Data columns (total 21 columns):
BOROUGH                           84548 non-null int64
NEIGHBORHOOD                      84548 non-null object
BUILDING CLASS CATEGORY           84548 non-null object
TAX CLASS AT PRESENT              84548 non-null object
BLOCK                             84548 non-null int64
LOT                               84548 non-null int64
EASE-MENT                         84548 non-null object
BUILDING CLASS AT PRESENT         84548 non-null object
ADDRESS                           84548 non-null object
APARTMENT NUMBER                  84548 non-null object
ZIP CODE                          84548 non-null int64
RESIDENTIAL UNITS                 84548 non-null int64
COMMERCIAL UNITS                  84548 non-null int64
TOTAL UNITS                       84548 non-null int64
LAND SQUARE FEET                  84548 non-null object
GROSS SQUARE FEET                 84548 non-null object
YEAR BUILT                        84548 non-null int64
TAX CLASS AT TIME OF SALE         84548 non-null int64
BUILDING CLASS AT TIME OF SALE    84548 non-null object
SALE PRICE                        84548 non-null object
SALE DATE                         84548 non-null object
dtypes: int64(9), object(12)
memory usage: 14.2+ MB

In [8]:
data.head(10)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
9,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,405,16,,C4,516 EAST 12TH STREET,,...,20,0,20,2581,9730,1900,2,C4,-,2017-07-20 00:00:00
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,,...,8,0,8,1750,4226,1920,2,C4,3192840,2016-09-23 00:00:00
11,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,407,18,,C7,520 EAST 14TH STREET,,...,44,2,46,5163,21007,1900,2,C7,-,2017-07-20 00:00:00
12,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,379,34,,D5,141 AVENUE D,,...,15,0,15,1534,9198,1920,2,D5,-,2017-06-20 00:00:00
13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,,...,24,0,24,4489,18523,1920,2,D9,16232000,2016-11-07 00:00:00

In [9]:
data['SALE PRICE'] = pd.to_numeric(data['SALE PRICE'], errors = 'coerce')
data['LAND SQUARE FEET'] = pd.to_numeric(data['LAND SQUARE FEET'], errors = 'coerce')
data['GROSS SQUARE FEET'] = pd.to_numeric(data['GROSS SQUARE FEET'], errors = 'coerce')
data.info() #check 'SALE PRICE', LAND SQUARE FEET, and GROSS SQUARE FEET if float

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84548 entries, 4 to 8413
Data columns (total 21 columns):
BOROUGH                           84548 non-null int64
NEIGHBORHOOD                      84548 non-null object
BUILDING CLASS CATEGORY           84548 non-null object
TAX CLASS AT PRESENT              84548 non-null object
BLOCK                             84548 non-null int64
LOT                               84548 non-null int64
EASE-MENT                         84548 non-null object
BUILDING CLASS AT PRESENT         84548 non-null object
ADDRESS                           84548 non-null object
APARTMENT NUMBER                  84548 non-null object
ZIP CODE                          84548 non-null int64
RESIDENTIAL UNITS                 84548 non-null int64
COMMERCIAL UNITS                  84548 non-null int64
TOTAL UNITS                       84548 non-null int64
LAND SQUARE FEET                  58296 non-null float64
GROSS SQUARE FEET                 56936 non-null float64
YEAR BUILT                        84548 non-null int64
TAX CLASS AT TIME OF SALE         84548 non-null int64
BUILDING CLASS AT TIME OF SALE    84548 non-null object
SALE PRICE                        69987 non-null float64
SALE DATE                         84548 non-null object
dtypes: float64(3), int64(9), object(9)
memory usage: 14.2+ MB

In [10]:
data['SALE DATE'] = pd.to_datetime(data['SALE DATE'], errors = 'coerce')
data['YEAR'] = pd.DatetimeIndex(data['SALE DATE']).year

##Data Cleaning

In [13]:
data1 = data[data['SALE PRICE']>0] 
sales95 = np.percentile(data1['SALE PRICE'].fillna(0),95) 
sales05 = np.percentile(data1['SALE PRICE'].fillna(0),5) 
data1['SALE PRICE'].describe()

count    5.975900e+04
mean     1.494927e+06
std      1.232953e+07
min      1.000000e+00
25%      3.700000e+05
50%      6.255000e+05
75%      1.070000e+06
max      2.210000e+09
Name: SALE PRICE, dtype: float64

In [14]:
datareg = data[data['SALE PRICE']>sales05]
datareg = data[data['SALE PRICE']<sales95]
datareg['SALE PRICE'].describe()

count    6.699500e+04
mean     6.673336e+05
std      6.894009e+05
min      0.000000e+00
25%      2.100000e+05
50%      5.000000e+05
75%      8.750000e+05
max      3.999999e+06
Name: SALE PRICE, dtype: float64

### Dummy Conversion

In [15]:
neigh = pd.get_dummies(datareg['NEIGHBORHOOD'])
blcltos = pd.get_dummies(datareg['BUILDING CLASS AT TIME OF SALE'])
taxcl = pd.get_dummies(datareg['TAX CLASS AT PRESENT'])
ease = pd.get_dummies(datareg['EASE-MENT'])
blclpres = pd.get_dummies(datareg['BUILDING CLASS AT PRESENT'])
add = pd.get_dummies(datareg['ADDRESS'])
apt = pd.get_dummies(datareg['APARTMENT NUMBER'])

In [16]:
dummies = list(neigh.columns.values) + list(blcltos.columns.values) + list(taxcl.columns.values) + list(ease.columns.values) + list(blclpres.columns.values) + list(add.columns.values) + list(apt.columns.values)

In [18]:
datareg['SALE DATE'].describe()

count                   66995
unique                    362
top       2016-12-22 00:00:00
freq                      445
first     2016-09-01 00:00:00
last      2017-08-31 00:00:00
Name: SALE DATE, dtype: object

In [19]:
datareg = pd.concat([datareg, neigh,blcltos,taxcl,ease,blclpres,add,apt], axis=1, sort=False)

In [20]:
features = dummies + ['GROSS SQUARE FEET','LAND SQUARE FEET','LOT','BOROUGH','BLOCK','LOT','ZIP CODE','RESIDENTIAL UNITS','COMMERCIAL UNITS','TOTAL UNITS','YEAR BUILT','TAX CLASS AT TIME OF SALE','YEAR']

In [ ]:
X = datareg[features].fillna(0)

In [177]:
y = datareg['SALE PRICE']

In [168]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 42)
model = LinearRegression()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
np.sqrt(mse(y_predicted, y_test))

642553.5518043026